* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.home {
  height: 100%;
}
body {
  min-width: 1280px;
}
ul,
li {
  list-style: none;
}
.no-border {
  border: 0 !important;
  border-radius: 0 !important;
}
.el-main {
  padding: 0;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.el-form-link {
  text-decoration: none;
  color: #409EFF;
}
.home {
  background: #E9EEF3;
}
.home-container {
  height: 100%;
}
.main-container {
  height: calc(40%);
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #ffffff;
}
.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #e5e5e5;
}
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.index {
  width: 1140px;
  margin: 20px auto;
  height: 600px;
}
.index .index-carousel {
  height: 265px;
}
.index .el-carousel {
  background: #ffffff;
}
.index .el-carousel .el-carousel__button {
  width: 18px;
}
.index-col-left > div {
  margin-bottom: 20px;
}
.index-row .el-col {
  padding: 0 10px;
}
.index-row .index-project-item {
  padding: 0 8px;
}
.el-carousel__item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.index-projects {
  height: 330px;
}
.index-projects .el-card {
  height: 100%;
}
.index-projects .el-card > div {
  padding-top: 10px;
}
.index-project-item {
  height: 110px;
  margin-bottom: 16px;
}
.index-project-item .el-card {
  border: 1px solid #f3f6ff;
}
.index-project-item .el-card:hover {
  background: #f7f9fe;
  cursor: pointer;
}
.index-project-item .el-card__body {
  padding: 10px;
  height: 92px;
}
.index-project-item-logo {
  position: relative;
  margin-top: 18px;
  width: 54px;
  height: 54px;
  border: 1px solid #e5e5e5;
  border-radius: 27px;
}
.index-project-item-logo img {
  margin-top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.index-project-item-text {
  margin-top: 18px;
}
.index-project-item-text p {
  font-size: 12px;
  text-align: left;
}
.index-project-item-text .text-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.index-project-item-text .text-round_name {
  margin-bottom: 2px;
  font-size: 14px;
}
.index-project-item-text .text-summary {
  color: #999;
}
.index-project-item-text .text-industry_name {
  position: relative;
  top: -2px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 2px 6px;
  margin-left: 5px;
  color: #999;
}
.index-users {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 330px;
}
.index-users .index-users-title {
  border-left: 4px solid #409EFF;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.index-users .el-card {
  height: 100%;
}
.index-users .index-users-item {
  height: 74px;
  margin: 10px 0;
}
.index-users-item-avatar {
  width: 68px;
  height: 68px;
  border-radius: 36px;
  padding: 2px;
  border: 1px solid #e5e5e5;
}
.index-users-item-avatar img {
  width: 68px;
  height: 68px;
  border-radius: 34px;
}
.index-users-item-text {
  margin-top: 16px;
  text-align: left;
}
.index-users-item-text .text-full_name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
}
.index-users-item-text .text-position {
  font-size: 14px;
  color: #999;
}
.index-investor-item-avatar {
  width: 68px;
  height: 68px;
  border-radius: 36px;
  padding: 2px;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}
.index-investor-item-avatar img {
  width: 68px;
  height: 68px;
  border-radius: 34px;
}
.index-investor-item {
  margin-top: 10px;
  height: 252px;
}
.index-investor-item .el-card {
  height: 236px;
  border: 1px solid #f3f6ff;
}
.index-investor-item .el-card:hover {
  background: #f7f9fe;
  cursor: pointer;
}
.index-investor-item-text {
  margin-bottom: 20px;
}
.index-investor-item-text .text-real_name {
  margin-top: 10px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
}
.index-investor-item-text .text-position {
  color: #999;
  font-size: 14px;
}
.index-investors > .el-card > div {
  padding-top: 10px;
}
.common-header {
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  box-sizing: border-box;
  background: #ffffff;
}
.common-header .logo {
  width: 180px;
  height: 60px;
  text-align: center;
  float: left;
}
.common-header .logo img {
  width: 111px;
  height: 40px;
  margin-top: 11px;
}
.common-header .el-menu--horizontal > .el-menu-item {
  height: 59px;
  line-height: 59px;
}
.common-header .auth-navigator {
  float: right;
  margin-right: 20px;
}
.common-header .el-menu--horizontal > .el-menu-item.is-active {
  border: transparent;
}
.common-header .user-avatar {
  position: relative;
  padding-right: 30px;
}
.common-header .avatar-box {
  position: absolute;
  top: 0;
  right: 0;
}
.common-header .avatar-box img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.common-aside {
  height: 100%;
  width: 100%;
  position: relative;
}
.common-aside .el-menu-aside {
  height: 100%;
  border-right: 0;
}
.common-aside .el-menu-aside .el-menu-item.is-active {
  background: #292c35 !important;
}
.common-aside .el-menu-aside .el-menu-item {
  height: 46px;
  line-height: 46px;
}
.common-aside .el-menu-item-group__title,
.common-aside .el-submenu,
.common-aside .el-menu-item {
  text-align: left;
}
.common-aside .main-container-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  background-color: #333742;
  padding-bottom: 10px;
}
.auth {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
}
.auth h5 {
  font-size: 14px;
  margin-bottom: 20px;
}
.auth .el-icon-fa-mobile {
  font-size: 24px;
}
.auth .el-icon-fa-lock {
  font-size: 18px;
}
.auth .auth-btn-qq {
  color: #409EFF;
  margin-right: 20px;
}
.auth .auth-btn-submit {
  width: 100%;
}
.auth .auth-link-row {
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
}
.auth-investor {
  background: #ffffff;
}
.auth-investor .auth-investor-header {
  height: 84px;
  background: url('../../assets/img/auth-investor-title.png') no-repeat 50%;
  background-size: cover;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 36px;
}
.auth-investor .header-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.auth-investor .auth-investor-form {
  box-sizing: border-box;
  width: 1140px;
  padding: 40px 200px;
  margin: 0 auto;
}
.auth-investor .form-steps {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.auth-investor .form-body {
  text-align: left;
}
.auth-investor .form-body .form-auth {
  padding: 30px 60px;
  padding-right: 120px;
}
.auth-investor .form-body .form-extra {
  padding: 30px 0;
}
.auth-investor .form-body .el-form-item__label {
  padding-right: 30px;
  font-size: 15px;
}
.auth-investor .form-body .el-textarea .el-textarea__inner {
  font-family: Arial;
}
.auth-investor .form-body .el-checkbox {
  margin-left: 20px;
}
.auth-investor .form-body .el-radio {
  margin-left: 10px;
}
.auth-investor .form-body .el-input-number {
  width: 100%;
}
.auth-investor .form-body .el-checkbox-group {
  position: relative;
  left: -20px;
}
.auth-investor .on-success {
  margin-top: 40px;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  color: #999999;
}
.submit-project {
  min-height: 1000px;
  background: #ffffff;
}
.submit-project .submit-project-header {
  height: 84px;
  background: url('../../assets/img/auth-investor-title.png') no-repeat 50%;
  background-size: cover;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 36px;
}
.submit-project .header-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.submit-project .submit-project-form {
  box-sizing: border-box;
  width: 1140px;
  padding: 40px 200px;
  margin: 0 auto;
}
.submit-project .form-steps {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.submit-project .form-body {
  text-align: left;
}
.submit-project .form-body .el-form-item {
  padding-right: 60px;
}
.submit-project .form-body .form-primary,
.submit-project .form-body .form-founder,
.submit-project .form-body .form-extra {
  padding: 30px 0;
}
.submit-project .form-body .el-form-item__label {
  padding-right: 30px;
}
.submit-project .form-type-content {
  background: #F5F9FB;
  border: 1px dashed #e5e5e5;
  border-radius: 10px;
  padding-top: 22px;
  margin-bottom: 22px;
}
.submit-project .form-type-content .comment {
  padding-left: 160px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #6BA2FC;
}
.submit-project .max-length {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #cccccc;
  line-height: 12px;
}
.submit-project .el-textarea .el-textarea__inner {
  font-family: Arial;
}
.submit-project .upload-bp .el-upload {
  display: inline;
  text-align: left;
}
.submit-project .upload-bp .comment {
  font-size: 14px;
  color: #cccccc;
  padding-left: 10px;
}
.submit-project .dash-line {
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 22px;
}
.submit-project .creator-text {
  margin-bottom: 10px;
}
.submit-project .creator-text p {
  line-height: 20px;
}
.submit-project .creator-team-text {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #409EFF;
  cursor: pointer;
}
.submit-project .creator-team-text i {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.submit-project .creator-team-item-title {
  padding-left: 160px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
  font-size: 14px;
  position: relative;
}
.submit-project .creator-team-item-title i {
  cursor: pointer;
  position: absolute;
  right: 65px;
  top: 5px;
}
.submit-project .creator-team-item-title i:hover {
  color: #666;
}
.submit-project .creator-team-item {
  background: #F5F9FB;
  border: 1px dashed #e5e5e5;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 22px;
  padding-bottom: 10px;
}
.submit-project .creator-team-item .el-form-item {
  margin-bottom: 10px;
}
.submit-project .person-card-upload {
  width: 118px;
  height: 65px;
  border: 1px dashed #e5e5e5;
  border-radius: 5px;
  text-align: center;
}
.submit-project .person-card-upload img {
  max-height: 65px;
}
.submit-project .person-card-upload .avatar-uploader-icon {
  line-height: 65px;
  width: 65px;
  height: 65px;
}
.submit-project .on-success {
  margin-top: 40px;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  color: #999999;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
}
.avatar {
  width: 78px;
  height: 78px;
  display: block;
}
.project-table {
  margin: 20px;
  height: 100%;
}
.project-table .el-card__body {
  padding: 0;
}
.project-table .el-table td,
.project-table .el-table th {
  text-align: center;
}
.project-table .project-table-footer {
  line-height: 40px;
  color: #999;
  font-size: 14px;
}
.project-table .project-table-item {
  height: 100px;
  line-height: 100px;
  cursor: pointer;
}
.project-table .project-table-item .item-logo {
  border: 1px solid #e5e5e5;
  padding: 2px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin: 0 auto;
}
.project-table .project-table-item .item-logo img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.project-table .project-table-item .item-text {
  text-align: left;
}
.project-table .project-table-item .item-text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-table .project-table-item .item-text .text-name {
  font-size: 15px;
  font-weight: 600;
  color: #222c38;
}
.project-table .project-table-item .item-text .text-summary {
  color: #666;
}
.project-table .project-table-item .item-text .text-tag {
  margin-right: 10px;
  color: #999;
}
.project-selectors .el-card__body {
  padding-bottom: 10px;
}
.project-selectors .project-checkbox {
  margin-bottom: 15px;
}
.project-selectors .project-checkbox-label {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.project-selectors .project-checkbox-list {
  position: relative;
  margin-left: 20px;
  border-bottom: 1px dashed #e5e5e5;
  max-height: 34px;
  overflow: hidden;
  transition: max-height ease-in-out 0.3s;
}
.project-selectors .project-checkbox-item {
  text-align: left;
  margin-bottom: 15px;
}
.project-selectors .dropDown-button {
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.project-selectors .arrow-down-rotated {
  transform: rotate(180deg);
}
.user-tags {
  position: relative;
  height: 135px;
  box-sizing: border-box;
  width: 100%;
  background-image: url("../../assets/img/head-bg-tags.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px;
  color: #fff;
}
.user-tags .user-tags-left {
  text-align: left;
}
.user-tags .user-tags-title {
  font-size: 20px;
  font-weight: 700;
}
.user-tags .tags-suggestion {
  display: inline-block;
  padding-top: 5px;
  font-size: 14px;
}
.user-tags .user-tag-right {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 40px;
}
.user-tags .user-tag-right i {
  margin-right: 5px;
}
.user-tags .tags-manage .el-dialog__body {
  text-align: left;
}
.user-tags .tags-manage-title {
  font-weight: 700;
  padding-left: 15px;
  border-left: 3px solid #606266;
  line-height: 15px;
  margin-bottom: 10px;
}
.user-tags .tags-item {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
}
.user-tags .tags-item:hover {
  background: #eeeeee;
}
.user-tags .tags-item-span {
  padding-top: 5px;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}
.user-tags .tags-manage-tags {
  padding-top: 20px;
}
.project-detail {
  height: 100%;
  position: relative;
}
.project-detail .el-card__body {
  padding: 0;
}
.project-detail .project-detail-header {
  width: 100%;
  background: #ffffff;
}
.project-detail .header-container {
  width: 60%;
  margin: 0 auto;
  min-width: 700px;
}
.project-detail .header-container .header-title {
  width: 500px;
  padding-top: 20px;
}
.project-detail .project-logo {
  margin: 0 auto;
  width: 82px;
  height: 82px;
  border-radius: 42px;
  padding: 1px;
  border: 1px solid #e5e5e5;
}
.project-detail .project-logo img {
  width: 80px;
  height: 80px;
  border-radius: 39px;
  margin-top: 1px;
}
.project-detail .project-tags {
  margin-top: 8px;
  font-size: 14px;
}
.project-detail .project-tags span {
  margin-right: 10px;
}
.project-detail .project-tags span .el-icon-fa-tags {
  color: #999;
}
.project-detail .project-text {
  height: 86px;
  text-align: left;
}
.project-detail .project-text span {
  display: inline-block;
}
.project-detail .project-text .text-name {
  font-size: 20px;
  margin-right: 10px;
  max-width: 100px;
  position: relative;
  top: 5px;
}
.project-detail .project-text .text-industry,
.project-detail .project-text .text-area {
  font-size: 15px;
  color: #666;
}
.project-detail .project-text .text-dot {
  margin: 5px 10px;
  width: 2px;
  height: 2px;
  line-height: 21px;
  background: #666;
}
.project-detail .project-text i {
  color: #666;
  margin-right: 5px;
}
.project-detail .project-text .text-link {
  position: relative;
  top: -3px;
  margin-left: 15px;
  display: inline-block;
  width: 32px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background: #6ba2fc;
  color: #ffffff;
  font-size: 12px;
  border-radius: 4px;
}
.project-detail .project-text .project-summary {
  color: #999;
  margin-top: 5px;
  width: 100%;
  font-size: 15px;
}
.project-detail .header-navbar {
  height: 40px;
  margin-top: 10px;
}
.project-detail .el-tabs__nav-wrap::after {
  background-color: #ffffff;
}
.project-detail .project-detail-main {
  width: 60%;
  min-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}
.project-detail .prject-detail-section {
  margin-bottom: 20px;
}
.project-detail .prject-detail-section .el-card__header {
  padding: 0 20px;
  text-align: left;
  line-height: 40px;
}
.project-detail .prject-detail-section .el-card__header i {
  margin-right: 10px;
  color: #5a626d;
  font-size: 18px;
}
.project-detail .prject-detail-section .section-content {
  min-height: 40px;
  padding: 20px 40px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  color: #5a626d;
}
.project-detail .prject-detail-section .section-title {
  font-size: 15px;
  font-weight: 700;
}
.project-detail .absolute-navbar {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 180px;
  z-index: 100;
  background: #ffffff;
}
.project-detail .absolute-navbar .header-navbar {
  width: 60%;
  height: 40px;
  margin: 0 auto;
}
.project-detail .absolute-footer {
  position: fixed;
  width: calc(-80%);
  bottom: 0;
  left: 180px;
  z-index: 100;
  background: #ffffff;
  height: 50px;
  line-height: 50px;
}
.project-detail .absolute-footer button {
  margin-right: 20px;
}
.project-detail .absolute-footer .btn-collect {
  width: 80px;
}
.project-detail .section-history-item > div {
  display: inline-block;
}
.project-detail .section-history-item .history-time {
  width: 56px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
}
.project-detail .section-history-item .history-line {
  height: 100px;
  width: 2px;
  border-left: 2px solid #dedede;
  vertical-align: middle;
  position: relative;
}
.project-detail .section-history-item .history-line .circle {
  border-radius: 10px;
  position: absolute;
  left: -8px;
  padding: 2px;
  border: 2px solid #409eff;
  top: calc(42%);
}
.project-detail .section-history-item .history-line .inside-circle {
  width: 7px;
  height: 7px;
  background-color: #409eff;
  border-radius: 10px;
}
.project-detail .section-history-item .history-info {
  background: #fff;
  border: 1px solid #f2f4f5;
  box-shadow: 0 0 10px 0 #e9f0f5;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  padding: 10px 0;
}
.project-detail .section-history-item .history-info .info-angle {
  border-left: 1px solid #e9f0f5;
  border-bottom: 1px solid #e9f0f5;
  width: 12px;
  height: 12px;
  background: #fff;
  transform: rotate(45deg);
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -6px;
}
.project-detail .section-history-item .history-info .info-round-name {
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  vertical-align: middle;
  text-align: center;
  width: 80px;
  display: inline-block;
}
.project-detail .section-history-item .history-info .info-round-detail {
  margin: 0 20px;
  padding: 5px 20px;
  border-left: 2px solid #dedede;
  display: inline-block;
  vertical-align: middle;
}
.project-detail .section-history-item .history-info .info-round-price-title {
  font-size: 14px;
  color: #969fa9;
  line-height: 16px;
  margin-right: 15px;
  font-weight: 700;
  width: 60px;
  display: inline-block;
}
.project-detail .section-history-item .history-info .info-round-investor {
  font-size: 14px;
  color: #969fa9;
  line-height: 16px;
  margin-right: 15px;
  width: 60px;
  display: inline-block;
}
.project-detail .section-history-item .history-info .info-round-price {
  font-size: 14px;
  line-height: 21px;
  color: #5a626d;
  letter-spacing: 0;
  position: relative;
  font-weight: 700;
}
.project-detail .section-history-item .history-info .info-round-detail-row {
  line-height: 24px;
}
.project-detail .section-history-item .history-info .info-round-investor-name {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  position: relative;
  color: #409eff;
  text-decoration: none;
}
.project-detail .section-team-table {
  padding-bottom: 10px;
}
.project-detail .section-team-table .cell {
  text-align: center;
}
.project-detail #projectIntroduce h5 {
  line-height: 15px;
  font-size: 15px;
  padding-left: 10px;
  border-left: 4px solid #333;
  color: #333;
  margin-bottom: 10px;
}
.project-detail #projectIntroduce .introduce-item {
  margin-bottom: 20px;
}
.project-detail #projectIntroduce .introduce-item .company-name {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  color: #999;
}
.project-detail .more-info-mask {
  width: 100%;
  margin: 0 auto;
  height: 180px;
  background-image: url('../img/intro-mask.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 15px;
  text-align: center;
  padding-top: 55px;
}
.project-detail .more-info-mask p {
  margin-top: 5px;
  color: #999;
}
.project-detail .team-advantage {
  margin-bottom: 20px;
}
.project-detail .section-team-table h5 {
  line-height: 15px;
  font-size: 15px;
  padding-left: 10px;
  border-left: 4px solid #333;
  color: #333;
  margin-bottom: 10px;
}
.project-detail .project-data-list span {
  display: inline-block;
  margin-right: 10px;
}
.project-detail .data-website {
  padding: 0 6px;
  background: #969FA9;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  line-height: 20px;
}
.project-detail .data-website:hover {
  background: #6ba2fc;
}
.project-detail .data-ios {
  padding: 0 5px;
  background: #444;
  color: #fff;
  border-radius: 4px;
  line-height: 20px;
  position: relative;
  top: 1px;
}
.project-detail .data-android {
  padding: 0 5px;
  background: #34C600;
  color: #fff;
  border-radius: 4px;
  line-height: 20px;
  position: relative;
  top: 1px;
}
.project-detail .data-wechat {
  padding: 0 5px;
  background: #00D00B;
  color: #fff;
  border-radius: 4px;
  line-height: 20px;
  position: relative;
  top: 1px;
}
.project-detail .news-time {
  height: 20px;
  color: #666;
  width: 100px;
}
.project-detail .news-title {
  position: relative;
  padding-left: 30px;
  height: 30px;
  border-left: 1px solid #eeeeee;
}
.project-detail .news-title .circle {
  border-radius: 10px;
  position: absolute;
  left: -7px;
  top: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  background: #fff;
}
.project-detail .news-title .circle-inside {
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 10px;
  display: block;
}
.project-detail .news-title a {
  text-decoration: none;
  color: #409EFF;
}
.project-detail .tags-list {
  text-align: center;
  margin-bottom: 20px;
}
.project-detail .el-table__header-wrapper tr th .cell {
  text-align: center;
}
.project-detail .similar-projects-item {
  height: 72px;
  line-height: 72px;
  cursor: pointer;
}
.project-detail .similar-projects-item .cell {
  text-align: center;
}
.project-detail .similar-projects-item .item-logo {
  border: 1px solid #e5e5e5;
  padding: 2px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  margin: 0 auto;
}
.project-detail .similar-projects-item .item-logo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.project-detail .similar-projects-item .item-text {
  text-align: left;
}
.project-detail .similar-projects-item .item-text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-detail .similar-projects-item .item-text .text-name {
  font-size: 15px;
  font-weight: 600;
  color: #222c38;
}
.project-detail .similar-projects-item .item-text .text-summary {
  color: #666;
  font-size: 12px;
}
.project-detail .similar-projects-item .item-text .text-tag {
  margin-right: 10px;
  color: #999;
}
.project-detail .project-connect .el-row {
  margin-bottom: 10px;
  text-align: left;
}
.project-detail .project-connect .label {
  width: 100px;
  text-align: right;
}
.project-detail .project-connect .label i {
  margin-right: 5px;
}
.project-detail .project-connect .text {
  padding-left: 20px;
}
.investor-detail {
  height: 100%;
  position: relative;
}
.investor-detail .el-card__body {
  padding: 0;
}
.investor-detail .header-container {
  width: 60%;
  margin: 0 auto;
}
.investor-detail .header-container .header-title {
  width: 500px;
  padding-top: 20px;
}
.investor-detail .investor-portrait {
  margin: 0 auto;
  width: 82px;
  height: 82px;
  border-radius: 42px;
  padding: 1px;
  border: 1px solid #e5e5e5;
}
.investor-detail .investor-portrait img {
  width: 80px;
  height: 80px;
  border-radius: 39px;
  margin-top: 1px;
}
.investor-detail .investor-text {
  height: 86px;
  padding: 14px 0;
  text-align: left;
}
.investor-detail .investor-text span {
  display: inline-block;
}
.investor-detail .investor-text .text-name {
  font-size: 20px;
  margin-right: 10px;
  max-width: 100px;
  position: relative;
  top: 5px;
}
.investor-detail .investor-text i {
  color: #999;
  margin-right: 5px;
}
.investor-detail .investor-text .text-area {
  font-size: 15px;
  color: #999;
}
.investor-detail .investor-text .text-position {
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}
.investor-detail .header-navbar {
  height: 40px;
  margin-top: 10px;
}
.investor-detail .el-tabs__nav-wrap::after {
  background-color: #ffffff;
}
.investor-detail .investor-detail-main {
  width: 60%;
  min-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
}
.investor-detail .investor-detail-section {
  margin-bottom: 20px;
}
.investor-detail .investor-detail-section .el-card__header {
  padding: 0 20px;
  text-align: left;
  line-height: 40px;
}
.investor-detail .investor-detail-section .el-card__header i {
  margin-right: 10px;
  color: #5a626d;
  font-size: 18px;
}
.investor-detail .investor-detail-section .section-content {
  min-height: 40px;
  padding: 20px 40px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  color: #5a626d;
}
.investor-detail .investor-detail-section .section-title {
  font-size: 15px;
  font-weight: 700;
}
.investor-detail .investor-detail-section .section-title span {
  color: #409eff;
}
.investor-detail #investmentPreference .preference-title {
  font-weight: 700;
  color: #666;
  min-width: 80px;
}
.investor-detail #investmentPreference span {
  margin-right: 15px;
}
.investor-detail #investmentCase .industry-tag {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  background: rgba(107, 162, 252, 0.2);
  color: #409eff;
  text-align: center;
  margin-right: 20px;
}
.investor-detail #investmentCase .case-item {
  padding: 20px 0;
}
.investor-detail #investmentCase .case-item .el-card {
  width: 80%;
  min-width: 300px;
  height: 186px;
  overflow-y: auto;
}
.investor-detail #investmentCase .case-item .el-card:hover {
  background: #f7f9fe;
  cursor: pointer;
  border: 1px solid #f3f6ff;
}
.investor-detail #investmentCase .case-item .el-card__body {
  padding: 20px;
}
.investor-detail #investmentCase .case-item .case-item-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.investor-detail #investmentCase .case-item .case-item-summary {
  color: #999;
}
.investor-detail #investmentCase .case-item-logo {
  width: 66px;
  height: 66px;
  border: 1px solid #e5e5e5;
  border-radius: 33px;
}
.investor-detail #investmentCase .case-item-logo img {
  margin-top: 2px;
  margin-left: 2px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.investor-detail #investmentCase .case-item-experiences {
  margin-top: 20px;
}
.investor-detail #investmentCase .experience-item-time {
  line-height: 15px;
  width: 70px;
  color: #666;
}
.investor-detail #investmentCase .experience-item-round {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  border-left: 1px solid #eee;
  padding-left: 20px;
}
.investor-detail #investmentCase .experience-item-round p {
  line-height: 15px;
}
.investor-detail #investmentCase .experience-item-round .circle {
  border-radius: 10px;
  position: absolute;
  left: -7px;
  padding: 2px;
  border: 1px solid #ccc;
  background: #fff;
}
.investor-detail #investmentCase .experience-item-round .circle-inside {
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 10px;
  display: block;
}
.investor-detail .absolute-navbar {
  position: fixed;
  width: calc(-80%);
  top: 60px;
  left: 180px;
  z-index: 100;
  background: #ffffff;
}
.investor-detail .absolute-navbar .header-navbar {
  width: 60%;
  height: 40px;
  margin: 0 auto;
}
.need-to-know .el-dialog__body {
  padding: 40px;
  padding-top: 20px;
}
.need-to-know p {
  text-align: left;
}
.need-to-know .text-footer-button {
  margin-top: 40px;
  text-align: center;
}
.need-to-know .text-footer-button button {
  width: 120px;
}
.need-to-know .text-footer-checkbox {
  text-align: center;
  margin-top: 5px;
}
.need-to-know .text-footer-checkbox .el-checkbox__label {
  font-size: 12px;
}
.account {
  width: 1140px;
  margin: 30px auto;
  height: 600px;
}
.account .notification-badge {
  position: absolute;
  right: 50px;
}
.account .account-part-left {
  width: 240px;
}
.account .account-part-left .el-card__body {
  height: 560px;
  padding: 0;
}
.account .account-part-left .el-menu-item.is-active {
  background: #ecf5ff;
  border-right: 2px solid #409EFF;
  padding-right: 20px;
}
.account .account-part-left .el-menu-item {
  padding-right: 22px;
}
.account .account-part-left .buttton-logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  transition: all 0.3s;
  background: #fff;
  border-top: 1px solid #f5f5f5;
}
.account .account-part-left .buttton-logout:hover {
  background: #f5f5f5;
}
.account .account-part-left .buttton-logout button {
  color: #666;
  width: 100%;
  border: none;
  padding: 15px 0;
  background: none;
  cursor: pointer;
  outline-color: transparent;
}
.account .account-part-right {
  margin-left: 30px;
  width: 870px;
  height: 600px;
}
.account .account-part-right .el-tabs__content {
  margin-top: 25px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.account .account-part-right .el-tabs__item {
  font-size: 18px;
}
.account .avatar-uploader {
  margin: 60px 0;
}
.account .avatar-uploader .el-upload {
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 99px;
  height: 99px;
}
.account .avatar-uploader .el-upload:hover .mask {
  opacity: 1;
}
.account .avatar-uploader .avatar {
  width: 100px;
  height: 100px;
}
.account .avatar-uploader .mask {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.6);
  top: 70px;
  left: 0;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  opacity: 0;
  transition: all 0.5s;
}
.account-section {
  width: 870px;
  padding-bottom: 20px;
  background: #fff;
}
.account-section .account-info-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}
.account-section .account-info-left {
  text-align: left;
}
.account-section .account-info-left .account-info-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  padding-right: 10px;
}
.account-section .account-info-left .account-info-comment {
  display: inline-block;
  line-height: 28px;
  font-size: 14px;
  color: #666;
}
.account-section .button-edit {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #409EFF;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.information-list-content.account-section {
  padding-bottom: 0;
}
.information-list-content .el-card__body {
  padding: 0;
}
.information-list-content .none-infomation {
  line-height: 400px;
  height: 400px;
  color: #999;
}
.information-list {
  height: 536px;
  overflow: hidden;
  overflow: auto;
  padding: 10px;
}
.information-list .information-item {
  line-height: 80px;
  border-bottom: 1px solid #e5e5e5;
}
.information-list .information-item .item-time {
  font-size: 14px;
  color: #666;
}
.information-list .information-item .item-content {
  text-align: left;
  font-size: 15px;
  color: #333;
}
