* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.home {
    height: 100%;
}

ul,
li {
    list-style: none;
}

.no-border {
    border: 0 !important;
    border-radius: 0 !important;
}

.el-main {
    padding: 0;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.el-form-link {
    text-decoration: none;
    color: #409EFF;
}

.home {
    background: #E9EEF3;
}

.home-container {
    height: 100%;
}

.main-container {
    height: calc(100% - 60px);
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

// scrollBar
.scroll::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #ffffff;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #e5e5e5;
}

#app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@import './index.less';
@import './common.less';
@import './userAuth.less';
@import './discovery.less';
@import './detail.less';
@import './account.less';