.common-header {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    box-sizing: border-box;
    background: #ffffff;
    .logo {
        width: 180px;
        height: 60px;
        text-align: center;
        float: left;
        img {
            width: 100px;
            height: 55px;
            margin-top: 3px;
        }
    }
    .el-menu--horizontal {
        &>.el-menu-item {
            height: 59px;
            line-height: 59px;
        }
    }
    .auth-navigator {
        float: right;
        margin-right: 20px;
    }
    .el-menu--horizontal>.el-menu-item.is-active {
        border: transparent;
    }
}

.common-aside {
    height: 100%;
    width: 100%;
    position: relative;
    .el-menu-aside {
        height: 100%;
        border-right: 0;
        .el-menu-item.is-active {
            background: rgb(41, 44, 53) !important;
        }
        .el-menu-item {
            height: 46px;
            line-height: 46px;
        }
    }
    .el-menu-item-group__title,
    .el-submenu,
    .el-menu-item {
        text-align: left;
    }
    .main-container-copyright {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        color: rgb(153, 153, 153);
        background-color: rgb(51, 55, 66);
    }
}
