.project-table {
	margin: 20px;
	height: 100%;
	.el-card__body {
		padding: 0;
	}
	.el-table td,
	.el-table th {
		text-align: center;
	}
}
.project-table-item {
	height: 100px;
	line-height: 100px;
	.item-logo {
        border: 1px solid #e5e5e5;
        padding: 2px;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        margin: 0 auto;
		img {
			width: 50px;
			height: 50px;
			border-radius: 25px;
		}
	}
	.item-text {
		text-align: left;
		p {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.text-name {
			font-size: 15px;
			font-weight: 600;
			color: #222c38;
		}
		.text-summary {
			color: #666;
        }
        .text-tag {
            margin-right: 10px;
            color: #999;
        }
	}
}
.project-table-footer {
	line-height: 40px;
    color: #999;
    font-size: 14px;
}

.project-selectors {
	.el-card__body {
		padding-bottom: 10px;
	}
}
.project-checkbox {
	margin-bottom: 15px;
}
.project-checkbox-label {
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}
.project-checkbox-list {
	position: relative;
	margin-left: 20px;
	border-bottom: 1px dashed #e5e5e5;
	max-height: 34px;
	overflow: hidden;
	transition: max-height ease-in-out 0.3s;
}
.project-checkbox-item {
	text-align: left;
	margin-bottom: 15px;
}
.dropDown-button {
	position: absolute;
	right: 0;
	top: 0;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
}
.arrow-down-rotated {
	transform: rotate(180deg);
}