.index {
    width: 1140px;
    margin: 0 auto;
    height: 600px;
    .index-carousel {
        height: 265px;
    }
}

.index-col-left {
    &>div {
        margin-bottom: 20px;
    }
}

.index-row {
    .el-col {
        padding: 0 10px;
    }
    .index-project-item {
        padding: 0 8px;
    }
}

.el-carousel__item {
    img {
        width: 100%;
        height: 100%;
    }
}

.index-projects {
    height: 330px;
    .el-card {
        height: 100%;
    }
}

.index-project-item {
    height: 110px;
    margin-bottom: 16px;
    .el-card {
        border: 1px solid #f3f6ff;
        &:hover {
            background: #f7f9fe;
        }
    }
    .el-card__body {
        padding: 10px;
        height: 92px;
    }
}

.index-project-item-logo {
    position: relative;
    margin-top: 18px;
    width: 54px;
    height: 54px;
    border: 1px solid #e5e5e5;
    border-radius: 27px;
    img {
        margin-top: 2px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

.index-project-item-text {
    margin-top: 18px;
    p {
        font-size: 12px;
        text-align: left;
    }
    .text-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
    .text-round_name {
        font-size: 14px;
    }
    .text-summary {
        color: #999;
    }
    .text-industry_name {
        position: relative;
        top: -2px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 2px 6px;
        margin-left: 5px;
        color: #999;
    }
}