.index {
    width: 1140px;
    margin: 20px auto;
    height: 600px;

    .index-carousel {
        height: 265px;
        background: #ffffff;
    }

    .index-top_right-carousel {
        height: 265px;
        background: #ffffff;
    }

    .el-carousel {
        height: 100%;

        .el-carousel__button {
            width: 18px;
        }
    }
}

.index-col-left {
    &>div {
        margin-bottom: 20px;
    }
}

.index-row {
    .el-col {
        padding: 0 10px;
    }

    .index-project-item {
        padding: 0 8px;
    }
}

.el-carousel__item {
    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.index-projects {
    height: 330px;

    .el-card {
        height: 100%;

        &>div {
            padding-top: 10px;
        }
    }
}

.index-project-item {
    height: 110px;
    margin-bottom: 16px;

    .el-card {
        border: 1px solid #f3f6ff;

        &:hover {
            background: #f7f9fe;
            cursor: pointer;
        }
    }

    .el-card__body {
        padding: 10px;
        height: 92px;
    }
}

.index-project-item-logo {
    position: relative;
    margin-top: 12px;
    width: 54px;
    height: 54px;
    border: 1px solid #e5e5e5;
    border-radius: 27px;

    img {
        margin-top: 2px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

.index-project-item-text {
    // margin-top: 18px;

    p {
        font-size: 12px;
        text-align: left;
    }

    .text-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        max-width: 130px;
        position: relative;
        top: 5px;
        display: inline-block;
    }

    .text-round_name {
        margin-bottom: 2px;
        font-size: 14px;
    }

    .text-summary {
        color: #999;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .text-middle-point {
        display: inline-block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #5a626d;
        vertical-align: middle;
        margin: 0 5px;
    }

    .text-industry_name {
        position: relative;
        top: -2px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 2px 6px;
        margin-left: 5px;
        color: #999;
    }
}

.index-users {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 330px;

    .index-users-title {
        border-left: 4px solid #409EFF;
        text-align: left;
        padding-left: 10px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .el-card {
        height: 100%;
    }

    .index-users-item {
        height: 74px;
        margin: 10px 0;
    }
}

.index-users-item-avatar {
    width: 68px;
    height: 68px;
    border-radius: 36px;
    padding: 2px;
    border: 1px solid #e5e5e5;

    img {
        width: 68px;
        height: 68px;
        border-radius: 34px;
    }
}

.index-users-item-text {
    margin-top: 16px;
    text-align: left;

    .text-full_name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 2px;
    }

    .text-position {
        font-size: 14px;
        height: 19px;
        line-height: 19px;
        color: #999;
    }
}

.index-investor-item-avatar {
    width: 68px;
    height: 68px;
    border-radius: 36px;
    padding: 2px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;

    img {
        width: 68px;
        height: 68px;
        border-radius: 34px;
    }
}

.index-investor-item {
    margin-top: 10px;
    height: 182px;

    .el-card {
        border: 1px solid #f3f6ff;
        &:hover {
            background: #f7f9fe;
            cursor: pointer;
        }
    }
}


.index-investor-item-text {
    margin-bottom: 20px;

    .text-real_name {
        margin-top: 10px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 600;
    }

    .text-position {
        color: #999;
        font-size: 14px;
        height: 20px;
    }
}

.index-investors {
    .el-card {
        &>div {
            padding-top: 10px;
        }
    }

    .el-tabs__content {
        height: 204px;
    }
}