* {
    margin: 0;
    padding: 0;
}

html, body, #app, .home {
    height: 100%;
}

.no-border {
    border: 0 !important;
    border-radius: 0 !important;
}

.home {
    background: #E9EEF3;
}

.home-container {
    height: 100%;
}

.main-container {
    height: calc(100% - 60px);
}

